body {
  background-image: url('../img/anton-sobotyak-AfLKsOCP0S4-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: lighten;
  font-family: ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100%;
}

/*
Navigation bar
 */
 :root {
  --nav-color: #3e79a675;

}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

 .container {
  background-color: var(--nav-color);
  font-size: 1rem;
  font-family: ubuntu, sans-serif;
  width: 100%;
  padding: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
}

.container .navbar {
  justify-content: space-between;
}

.navbar ul li {
  list-style-type: none;
}

.container .navbar ul li {
  padding: 1rem;
  margin: 0 auto;
}

.navbar a {
  color:antiquewhite;
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
}

li a:hover {
  color: #cd5a5a;
  opacity: 80%;
}

/* 
@media
*/

@media screen and (max-width: 640px) {
  .container {
    flex-wrap: wrap;
    font-size: 0.7rem;
    width: 100%;
  }

  .container .navbar h1 {
    font-size: 1rem;
  }
  .navbar {
    flex-direction: column;
  }

  .container > li {
    flex: 1 1 50%;
    margin: 0.8em 0;
  }
  aside #bioPhoto {
    max-width: 20vw;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    flex-wrap: nowrap;
    font-size: 1.5rem;
    background-color: antiquewhite;
    width: 100%;
  }
  .container .navbar a {
    color:rgb(26, 25, 25);
    font-size: large;
    padding: 2rem;
  }
  .container .navbar h1 {
    flex-direction: row;
    font-size: 2vw;
    color:brown;
  }
  .container > li {
    flex: 1 1 70%;
  }
  aside #bioPhoto {
    max-width: 10vw;
  }
  .grid-container > li {
    padding: 1rem;
    font: 1em sans-serif;
    color: beige;
  }
}

/*
Typography
 */

h1 {
  color: rgb(124, 187, 187);
  font-weight:bolder;
  font-size:xx-large;
  margin: auto;
  padding: 0.5em;
}

h2 {
  color:  rgb(111, 128, 144);
  font-weight:bolder;
  font-size:x-large;
}

/*
Layout
 */



main {
  display: inline-block;
  padding: auto;
  margin: auto;
}

aside {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

#about, #experience, #connect,#projects, #skills {
  color: rgba(255, 235, 205, 0.764);
  font-size: large;
  line-height: 1.5;
  margin: auto;
  padding: 2rem;
}
#bioPhoto {
  display: block;
  max-width: 15vw;
  margin: 1em;
  border: solid white 0.5em;
  border-radius: 20% 5%;
}

footer {
  color: rgba(32, 186, 171, 0.559);
  position: fixed; 
  bottom: 0; 
  right: 0; 
  z-index: 1;
}

/* 
Experience
*/

.grid-container  {
  display: grid;
  margin: auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, minmax(20px, 1fr) );
  grid-template-rows: repeat(5, minmax(10px, 1fr));
}

.grid-container > li {
  font-size: medium;
  list-style-type: none;
}

/* 
Skills
*/
.skillsStyle {
  list-style-type: none;
  color:rgba(28, 230, 227, 0.8);
  padding-left: 1rem;
}


/* 
Connect
 */
 
 .grid-connect {
  display: grid;
  margin: auto;
  padding: auto;
  grid-template-columns: repeat(6, minmax(10px, 5rem) );
  grid-template-rows: 1fr;
}

.grid-connect > a {
  color:grey;
  text-decoration: none;
}

i {
  margin-top: 1rem;
  letter-spacing: 1rem;
  font-size: 1.5rem;
  transition: all .2s ease-in-out;
}
i:hover {
  transform: scale(1.5);
}

.fa-github:hover{
	color: #333;
}

.fa-facebook:hover {
	color: #1877f2;
}

.fa-instagram:hover {
	color: #c32aa3;
}

.fa-twitter:hover {
	color: #1da1f2;
}

.fa-linkedin-in:hover {
	color: #0a66c2;
}

.fa-youtube:hover {
	color: #ff0000;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}
