body {
  background-image: url('../img/anton-sobotyak-AfLKsOCP0S4-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: lighten;
  font-family: ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  height: 100vh;
  width: 100%;
}

/*
Navigation bar
 */
 :root {
  --nav-color: #3e79a675;

}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

 .container {
  background-color: var(--nav-color);
  font-size: 1rem;
  font-family: ubuntu, sans-serif;
  width: 100%;
  padding: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.navbar ul {
  display: flex;
}

.container .navbar {
  justify-content: space-between;
}

.navbar ul li {
  list-style-type: none;
}

.container .navbar ul li {
  padding: 1rem;
  margin: 0 auto;
}

.navbar a {
  color:antiquewhite;
  font-weight: bold;
  list-style-type: none;
  text-decoration: none;
}

li a:hover {
  color: #cd5a5a;
  opacity: 80%;
}

/* 
@media
*/

@media screen and (max-width: 640px) {
  .container {
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 0.7rem;
    width: 100%;
  }

  .container .navbar h1 {
    flex-direction: column;
    font-size: 1rem;
  }
  .navbar {
    flex-direction: row;
  }

  .container > li {
    flex: 1 1 50%;
    margin: 0.8em 0;
  }
  aside #bioPhoto {
    max-width: 20vw;
  }
}

@media screen and (min-width: 1100px) {
  .container {
    flex-wrap: nowrap;
    font-size: 1.5rem;
    background-color: antiquewhite;
    width: 100%;
  }
  .container .navbar a {
    color:rgb(26, 25, 25);
    font-size: large;
    padding: 2rem;
  }
  .container .navbar h1 {
    flex-direction: row;
    font-size: 2vw;
    color:brown;
  }
  .container > li {
    flex: 1 1 70%;
  }
  aside #bioPhoto {
    max-width: 10vw;
  }
  .grid-container > li {
    padding: 1rem;
    font: 1em sans-serif;
    color: beige;
  }
}

/*
Typography
 */

h1 {
  color: rgb(124, 187, 187);
  font-weight:bolder;
  font-size:xx-large;
  margin: auto;
  padding: 0.5em;
}

h2 {
  color:  rgb(111, 128, 144);
  font-weight:bolder;
  font-size:x-large;
}

/*
Layout
 */



main {
  display: inline-block;
  padding: auto;
  margin: auto;
}

aside {
  padding: 1em;
  margin: 0 auto;
  text-align: center;
}

#about, #experience, #connect,#projects, #skills, #form-message-section, #message-section {
  color: rgba(255, 235, 205, 0.764);
  font-size: large;
  line-height: 1.5;
  margin: 1rem;
  padding: 2rem;
}
#bioPhoto {
  display: block;
  max-width: 15vw;
  margin: 1em;
  border: solid white 0.5em;
  border-radius: 20% 5%;
}

footer {
  color: rgba(32, 186, 171, 0.559);
  position: fixed; 
  bottom: 0; 
  right: 0; 
  z-index: 1;
}

/* 
Experience
*/

.grid-container  {
  display: grid;
  margin: auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, minmax(20px, 1fr) );
  grid-template-rows: repeat(5, minmax(10px, 1fr));
}

.grid-container > li {
  font-size: medium;
  list-style-type: none;
}

/* 
Skills
*/
.skillsStyle {
  list-style-type: none;
  color:rgba(28, 230, 227, 0.8);
  padding: 1rem;

}


/* 
Connect
 */
 
 .grid-connect {
  display: grid;
  margin: auto;
  padding: auto;
  grid-template-columns: repeat(6, minmax(10px, 5rem) );
  grid-template-rows: 1fr;
}

.grid-connect > a {
  color:grey;
  text-decoration: none;
}

i {
  margin-top: 1rem;
  letter-spacing: 1rem;
  font-size: 1.5rem;
  transition: all .2s ease-in-out;
}
i:hover {
  transform: scale(1.5);
}

.form-message-section {
  color:rgba(28, 230, 227, 0.8);
  padding: 1rem;
}

.fa-github:hover{
	color: #333;
}

.fa-facebook:hover {
	color: #1877f2;
}

.fa-instagram:hover {
	color: #c32aa3;
}

.fa-twitter:hover {
	color: #1da1f2;
}

.fa-linkedin-in:hover {
	color: #0a66c2;
}

.fa-youtube:hover {
	color: #ff0000;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* form */
.form-message > input, textarea {
  padding: 0.5rem;
  margin: 1rem;
}

/* button-submit */

.button-submit {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-submit:hover {
  background-color: #fff;
}

.button-submit:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-submit {
    min-width: 120px;
    padding: 0 25px;
  }
}


/* remove_button */
.remove_button {
  display: row;
  margin-left: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.remove_button:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

/* edit_button */
.edit_button {
  display: row;
  margin-left: 2rem;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  color: #3D3D3D;
  background: #fff;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.edit_button:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}
/*  new message style */
.message-entry {
  list-style-type: none;
  color:#eb7944b8;
}

.message-entry > a {
  text-decoration: none;
  color:#96ef8cc8; 
  font-family: 'Courier New', Courier, monospace;
  font-weight: 700;
  font-size: larger;
}