body {
  background-image: url('../img/anton-sobotyak-AfLKsOCP0S4-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: lighten;
  font-family: ubuntu, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  width: 100%;
}

/*
Navigation bar
 */
 :root {
  --nav-color: #3e79a6;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  background-color: var(--nav-color);
  padding: 0.5rem;
  position:sticky;
  overflow: hidden;
}

.navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  justify-content: space-around;
}

nav ul{
  display: flex;
  flex-direction: row;
  list-style: none;
}

.navbar a {
  color:antiquewhite;
  font-weight: bold;
  text-decoration: none;
}

.navbar li {
  padding: 1rem 1rem;
  font-size: large;
}

.navbar li a:hover {
  color: #cd5a5a;
  opacity: 0.8;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement */
.sticky + .content {
  padding-top: 60px;
}

main {
  display: inline-block;
  padding-left: 5%;
  padding-right: 5%;
  margin: auto;
}
 
/* 
@media
*/

@media screen and (min-width:361px) and (max-width: 640px) {
  main {
    padding-left: 5%;
    padding-right: 5%;
  }
  .container {
    width: 100%;
    background-color:rgb(39, 23, 55);
  }

  .container .navbar h1 {
    font-size: medium;
    color:#56d3dc;
  }

  .navbar {
    margin: 0.5rem;
  }
  .navbar a {
    color:rgb(195, 151, 151);
  }
  .navbar li {
    font-size: small;
    padding: 0.5rem;
  }
  aside #bioPhoto {
    max-width: 25vw;
  }
}

@media screen and (max-width: 360px) {
  main {
    padding-left: 2%;
    padding-right: 2%;
  }

  .container {
    width: 100%;
    background-color:rgb(16, 52, 6);
  }

  .container .navbar h1 {
    font-size: medium;
    color:#d09eaa;
  }

  .navbar {
    margin: 0.5rem;
  }
  .navbar a {
    color:rgb(151, 184, 195);
  }
  .navbar li {
    font-size: x-small;
    padding: 0.5rem 0.2rem;
  }
  aside #bioPhoto {
    max-width: 35vw;
  }
}

@media screen and (min-width: 1100px) {
  main {
    padding-left: 8%;
  }
  .container {
    width: 100%;
    background-color:rgb(0, 0, 0);
  }

  .container .navbar h1 {
    font-size: xx-large;
    color:#e70000;
  }

  .navbar {
    margin: 1rem;
  }
  .navbar a {
    color:rgb(255, 234, 0);
  }
  .navbar li {
    font-size: large;
    padding: 1rem 2rem;
  }
  aside #bioPhoto {
    max-width: 20vh;
  }
}

/*
Typography
 */

h1 {
  color: rgb(231, 249, 249);
  font-weight:bolder;
  font-size:xx-large;
}

h2 {
  color:  rgb(111, 128, 144);
  font-weight:bolder;
  font-size:x-large;
  margin-bottom: 1rem;
}

/*
Layout
 */

aside {
  padding: 1rem 1rem 0;
  margin: 4rem auto 0;
  text-align: center;
}

#about, #experience, #connect, #projects, #skills, #form-message-section, #message-section {
  color: rgba(255, 235, 205, 0.764);
  font-size: large;
  line-height: 1.5;
  margin: 1rem;
  padding: 1rem;
}
#bioPhoto {
  display: block;
  max-width: 15vw;
  margin: 2em;
  border: solid white 0.5em;
  border-radius: 20% 5%;
}

footer {
  color: rgb(32, 186, 171);
  position: relative;
  text-align: center;
}

/* 
Experience
*/

.grid-container  {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, minmax(20px, 1fr) );
  grid-template-rows: repeat(5, minmax(10px, 1fr));
}

.grid-container > li {
  font-size: medium;
  list-style-type: none;
}

/* 
Skills
*/
.skillsStyle {
  list-style-type: none;
  color:rgba(28, 230, 227, 0.8);
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.skill-flex-item{
  padding: 1rem;
}

/* Projects list  */

.projectsListStyle {
  text-decoration: none;
  list-style-type: none;
}

.projectElement > a{
  list-style-type: none;
  text-decoration: none;
  padding: 0.5rem;
  color: rgb(109, 208, 175);
  font-size: medium;
}

/* 
Connect
 */
 
 .grid-connect {
  display: grid;
  margin: auto;
  grid-template-columns: repeat(3, minmax(50px, 5rem));
  grid-template-rows: max-content;
  justify-content: start;
}
.grid-connect a {
  margin-top: 1rem;
  letter-spacing: 1rem;
  font-size: 1.5rem;
  transition: all .4s ease-in-out;
}
.grid-connect a:hover {
  transform: scale(1.5);
}

.form-message-section {
  color:rgba(28, 230, 227, 0.8);
  padding: 1rem;
}


.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

/* form */

.form-message > input {
  margin-bottom: 1rem;
}

#usersName, #usersEmail {
  width: 12rem;
  height: 1.5rem;
  font-size: medium;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

 #usersMessage {
  width: 14rem;
  height: 3rem;
  font-size: medium;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* button-submit */

.button-submit {
  margin-top: 1rem;
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 20px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  padding: 0 12px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-submit:hover {
  background-color: #6dffae;
}

.button-submit:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-submit {
    min-width: 120px;
    padding: 0 25px;
  }
}


/* remove_button */
.remove_button {
  display: row;
  margin-left: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 3px 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 12px;
  color: #000000;
  background: #f3b6b6;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.remove_button:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(171, 197, 255, 0.5);
  outline: 0;
}

/* edit_button */
.edit_button {
  display: row;
  margin-left: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 3px 12px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 12px;
  color: #000000;
  background: #bbf8ea;
  border: none;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.edit_button:focus {
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(171, 197, 255, 0.5);
  outline: 0;
}


/*  new message style */
.message-entry {
  list-style-type: none;
  margin-top: 1rem;
}

.message-entry a {
  text-decoration: none;
  color:#ff5100;
}

.message-entry {
  color:#96ef8cc8; 
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
}